@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-image: linear-gradient(
    to right top,
    #121212,
    #121213,
    #121213,
    #121314,
    #121314,
    #131719,
    #131a1c,
    #131e1e,
    #122625,
    #0f2d2c,
    #0a3533,
    #023d39
  );
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a:hover {
  @apply text-gray-500;
}

* {
  box-sizing: border-box;
}

/* ------Animations--------- */

/* Fade in times*/
.fadeIn2 {
  animation: fadeIn;
  animation-duration: 2s;
}

.fadeIn5 {
  animation: fadeIn;
  animation-duration: 5s;
}

.fadeIn7 {
  animation: fadeIn;
  animation-duration: 7s;
}

.inLeft1 {
  animation: fadeInLeft;
  animation-duration: 1s;
}
.inLeft2 {
  animation: fadeInLeft;
  animation-duration: 2s;
}
.inLeft3 {
  animation: fadeInLeft;
  animation-duration: 3s;
}


.inDown {
  animation: fadeInDown;
  animation-duration: 2s;
}
.inUp {
  animation: fadeInUp;
  animation-duration: 2s;
}

.inRight {
  animation: fadeInRight;
  animation-duration: 2s;
}
